@font-face {
  font-family: "HelveticaNeue-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/HelveticaNeue\ Medium.ttf");
}

a:hover {
  text-decoration: none;
}

i:hover {
  color: #383838;
}

a[href="index.html"] i {
  color: #888;
}

nav a:hover,
nav i:hover,
nav a i:hover {
  color: white;
}

.f-family-helvetica-m {
  font-family: "HelveticaNeue-Medium", sans-serif;
}

.visible {
  visibility: visible;
}

.empty-header {
  display: none;
}

.hotads-divbutton {
  height: 40px;
}

ul {
  list-style-type: none;
}

.color0 {
  color: white;
}

.color1 {
  color: #d35266;
}

.color2 {
  color: #383838;
}

.color3 {
  color: #888;
}

.section-hotads {
  height: 350px;
  width: 80%;
}

.section-hotads2 {
  height: 350px;
}

.carousel,
.carousel-item,
#hot-ads {
  width: 100%;
}

section {
  width: 80%;
  margin: 0 auto;
}

.slide-img {
  width: 300px;
  height: 300px;
}

.slide-img-mid {
  width: 200px;
  height: 300px;
}

.adv-icon {
  color: #383838;
}

.adv-icon:hover {
  color: #d35266;
}

.carousel-indicators li {
  bottom: -50px;
  background-color: black;
}

.barbell-inner {
  display: -ms-grid;
  display: grid;
}

.carousel-indicators {
  color: black;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 50%;
}

.main-nav {
  height: 65px;
  background-color: #383838;
}

.post-an-ad {
  background-color: #d35266;
  height: 35px;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  background-color: white;
}

.search-nav {
  height: 200px;
  background-color: #d35266;
  background-image: url('../images/greyback.png');
}

.departments {
  width: 212px;
  background-color: white;
  background-image: url("../images/sort-down.png");
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 5px center;
}

.search {
  width: 140px;
  background-color: #696868;
  color: rgb(204, 203, 203);
}

.search:hover {
  background-color: #d35266;
}

.search-form * {
  height: 60px;
  padding: 10px;
  border-radius: 2%;
  border-color: transparent;
}

.hotads-imgbox {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/610qE98yYRL._AC_UY395_.jpg");
}

.prev-next-hotads {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(136, 136, 136, 0.3);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

.product-hotads,
.search-hotads {
  width: 100%;
  min-height: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.product-hotads img {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.img-search {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.product-barbells {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section-hotads img:hover {
  border: 1px solid rgba(224, 222, 222, 0.5);
}

footer {
  width: 80%;
  margin: 0 auto;
}

footer a:hover {
  color: #696868;
  text-decoration: none;
}

.footer2-ul {
  font-size: 22px;
}

.footer2-ul li a {
  color: gray;
}

.product-barbells a:hover {
  color: #383838;
  cursor: pointer;
}

.product-barbells-div:hover {
  border: 1px solid rgba(224, 222, 222, 0.5);
}

.carousel-hotads {
  max-width: 1100px;
  margin: auto;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

.hotads-purchase {
  background-color: #d35266;
  color: white;
  border: 0;
  padding: 5px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
}

.hotads-det {
  padding-left: 10px;
  padding-right: 50px;
}

.buttons-hotads:hover {
  background-color: white;
  color: #383838;
}

.purchase-text-hotads {
  margin-left: 20px;
}

.hotads-price {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 1px solid #38383880;
  background-color: #d35266;
  color: white;
}

.barbells-price {
  border: 0;
  background-color: transparent;
  color: #d35266;
}

.search-nav h1 {
  margin: 0 auto;
  color: white;
  font-size: 60px;
}

.barbells-price:hover {
  color: red;
}

.hotads-price:hover,
.hotads-purchase:hover {
  background-color: white;
  color: #38383880;
}

.footer1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 20px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer1 ul {
  padding-right: 50px;
}

.footer2-copyright {
  font-size: 12px;
}

.button-footer {
  background-color: transparent;
  padding: 6px 12px;
  margin-left: 15px;
  min-width: 150px;
  border: none;
  border: 1px solid rgba(136, 136, 136, 0.5);
}

.button-footer:hover {
  color: white;
  background-color: #383838;
}

.footer2-ul a:hover {
  color: #383838;
}

.footer1-select {
  width: 30%;
}
