.visible {
  visibility: visible;
}

ul {
  list-style-type: none;
}

$color1: #d35266;
$color2: #383838;
$color3: #888;

.color0 {
  color: white;
}
.color1 {
  color: #d35266;
}

.color2 {
  color: #383838;
}

.color3 {
  color: #888;
}


.section-hotads {
  height: 350px;
}

.slide-img {
  width: 300px;
  height: 300px;
}

.slide-img-mid {
  width: 200px;
  height: 300px;
}

.adv-icon {
  color: $color2;
  &:hover {
    color: $color1;
  }
}

.carousel-indicators li {
  background-color: black;
}

.barbell-inner {
  display: grid;
}

.carousel-indicators {
  color: black;
}

.carousel-control-prev, .carousel-control-next {
  background-color: black;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 50%;
}

.main-nav {
  height: 65px;
  background-color: $color2;
}

.post-an-ad {
  background-color: $color1;
  height: 35px;
}

.btn {
  border-radius: 0;
  &:hover {
    background-color: white;
  }
}

a:hover {
  color: white;
}

#departments {
  height: 30px;
}